.content {
  width: 100%;
  padding-top: 4rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 87.5%;
  
  width: 46rem;
}

.header div {
  display: flex;
  gap: 8px;
}

.header div span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 24px;
  height: 19px; 
  background: #333333;
  border-radius: 999px;
}

.header .createdTask {
  color: var(--blue);
}

.header .taskComplete {
  color: var(--purple);
}

main .notTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  
  color: var(--gray-300);
  line-height: 140%;

  margin-top: 1.5rem;
  border-top: 1px solid var(--gray-300);
  border-radius: 8px;
}

main .notTask > img {
  margin: 4rem 0 1rem;
  object-fit: contain;
}